body{
    background-color: #19191a;
    margin:0;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body h1{
    font-size: 40px;
}
body h2{
    font-size: 30px;
    text-decoration: underline;
}
body h3{
    font-size: 25px;
    color: #8c72af;
    text-decoration: underline;
}
body p{
    color: white;
    font-size: 18px;

}

ul {
    list-style-type: none;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    color: #c796e7;

}

.getstarted {
    height: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 10px;
}

header{
    background-image:linear-gradient(#8c43bd,#814699) ;
    height: 90px;
    opacity: 90%;
    margin: 0 0;
    padding: 0;
    border-radius: 10px;
    text-align: center;

}

@media (max-width:1450px){
    .navbar a {
        font-size: 18px;
    }

    }
    @media (max-width:1350px){
        .navbar a {
            font-size: 14px;
        }
    
        }
        @media (max-width:1100px){
            .navbar a {
                font-size: 12px;
                margin-top: 0;
                display:block;
                float:initial;
            }
        
            }
            @media (max-width:1000px){
                .navbar a {
                    font-size: 6px;
                }
            
                }


.logo {
    padding-top: 1vw;
    padding-left: 2vw;
    height: 70px;
    width: 100px;
    float:left;
}

.navbar li {
    float: left;
    list-style: none;
 
  }
.navbar a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    text-decoration: none;
    text-transform: uppercase;
  }

  .navbar{
      display: inline-block;
      text-align: center;
      font-size: 1.3rem;
      font-family: 'Roboto', sans-serif;

  }
  .navbar :hover
  {color:hsl(221, 62%, 65%);
    opacity: 50%;
    background-color: #d8d5bd;
    border-radius: 100px;
    transition: .4s;
}
th, td, table{
    border: 2px solid white;
    border-collapse: separate;
    text-align: center;
}
table {
    margin-left: auto;
    margin-right: auto;
}
    #foot{
        position: fixed;
        bottom: 0;
        background-image:linear-gradient(#8c43bd,#814699) ;
        color: white;
        width: 100vw;
    }

    